
/*------------------------------------*/
/*             Font                   */
/*------------------------------------*/

@font-face {
  font-family: 'Baloo Bhai 2';
  src: local('Baloo Bhai 2'), url('../public/assets/fonts/BalooBhai2-VariableFont_wght.ttf') format('truetype');
}

/*------------------------------------*/
/*             Core CSS               */
/*------------------------------------*/


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 0;
    word-wrap: break-word;
    vertical-align: baseline;
    outline: none;
    transition: all ease 6ms;
}

html {
    height: 100%;
    width: 100%;
}

.App {
  overflow-x: hidden;
  position: relative;
}

body {
    font-family: 'Baloo Bhai 2';
    overflow-x: hidden;
	  position: relative;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    background-color: #80c7f1;
}


/*------------------------------------*/
/*           Common CSS               */
/*------------------------------------*/


.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.col-4 {
    width: 32.33333333%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.col-2 {
    width: 16.66666666%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.col-10 {
    width: 83.333333333%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.col-3 {
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.col-6 {
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.col-12 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-5 {
    padding: 50px;
}

.pr-3 {
    padding-right: 30px;
}

.underline {
    text-decoration: underline !important;
}

.position-relative {
    position: relative;
}


/*------------------------------------*/
/*         Main Content               */
/*------------------------------------*/


.header {
    background-image: url('../img/Desktop/HOME.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
}

.logo {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 24px;
}

.logo img {
    width: 300px;
}

.slogon {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

.social_icons a {
    margin-left: 16px;
    margin-right: 16px;
}

.social_icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.social_icons a img:hover {
    background-color: #ffc600;
}

.nav {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
}

.nav_item {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 60px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    box-sizing: content-box;
}

.nav_item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav_item a:hover {
    color: #ffc600;
}


/*------------------------------------*/
/*            Mission                 */
/*------------------------------------*/


.mission_title {
    width: 60%;
    margin: 0 auto;
}

.mission {
    background-image: url('../img/Desktop/MISSION.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 130vh;
    position: relative;
}

.mission_content {
    margin-top: 20px;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mission_detail {
    width: 550px;
    font-size: 20px;
    text-align: justify;
    font-weight: 600;
    margin-top: 10px;
}


/*------------------------------------*/
/*            Roadmap                 */
/*------------------------------------*/


.roadmap_title {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .roadmap_title {
        width: 80%;
        margin: 0 auto;
        transform: rotate(10deg);
    }
}


.roadmap_container  {
    max-width: 1290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both;
}

.road_map {
    background-image: url('../img/Desktop/ROADMAP.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 120vh;
    position: relative;
}

.road_1 {
    width: 24%;
    position: absolute;
    top: 42.5%;
    left: 10%;
    font-size: 18px;
    font-weight: 500;
}

.road_2 {
    width: 23%;
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 18px;
    font-weight: 500;
}

.road_3 {
    width: 300px;
    position: absolute;
    top: 78.5%;
    left: 14%;
    font-size: 18px;
    font-weight: 500;
}

.road_4 {
    width: 300px;
    position: absolute;
    top: 76%;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
}

.road_5 {
    width: 23%;
    position: absolute;
    top: 57%;
    left: 74%;
    font-size: 18px;
    font-weight: 500;
}

@media  all and (max-width: 1100px) {
  .road_1 {
    font-size: 12px;
    width: 200px;
  }

  .road_2 {
    left: 39%;
    font-size: 12px;
    width: 190px;
  }

  .road_3 {
    font-size: 12px;
    width: 170px;
  }

  .road_4 {
    font-size: 12px;
    width: 200px;
  }

  .road_5 {
    font-size: 12px;
    width: 200px;
  }
}

/*------------------------------------*/
/*           FFounders                */
/*------------------------------------*/


.founders_title{
    width: 60%;
    margin: 0 auto;
}

.founders {
    background-image: url('../img/Desktop/FFOUNDERS.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left right;
    min-height: 110vh;
    position: relative;
    margin-bottom: 40px;
}

.founder_row {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    /*padding-top: 50px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: row;
    justify-content: center;
    margin-right: 0;
}

.founder_info {
    width: 100%;
    display: block;
    float: right;
    position: relative;
    /*padding: 24px;*/
    text-align: center;
}

.socials {
    margin: auto;
    width: 100%;
    display: inline-flex;
    list-style: none;
}

.socials li {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li .founder_twitter a img {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.socials li .founder_twitter a img:hover {
    background-color: #ffc600;
}

.founder_twitter {
    margin-top: 16px;
    display: block;
    width: 54px;
    height: 54px;
    background-color: #ffc600;
    border-radius: 50%;
}

.founder_twitter a {
    display: block;
    width: 100%;
    height: 100%;
}

.founder_container {
    position: relative;
    width: 30%;
    height: 100%;
    flex: row;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 10px;
}

.founder_container img {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.founder_name {
    font-size: 1.5em;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.founder_about  {
    font-size: 1em;
    line-height: 1.1em;
    display: block;
    width: 100%;
}

.founder_post {
    text-align: center;
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 8px;
    margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
    .founder_row {
        flex-direction: column;
        padding-top: 0px;
    }

    .founder_twitter {
        width: 36px;
        height: 36px;
    }

    .socials li .founder_twitter a img {
        width: 36px;
        height: 36px;
    }

    .founder_container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 16px 36px 16px 36px;
    }

    .founder_container img {
        position: relative;
        height: 50%;
        width: 50%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .founder_about  {
        font-size: 1em;
        line-height: 1em;
        display: block;
        width: 100%;
    }

    .founder_post {
        text-align: center;
        display: block;
        font-size: 1em;
        line-height: 1.2em;
        margin-top: 8px;
        margin-bottom: 18px;
    }
}

section {
  box-sizing: border-box;
}


/*------------------------------------*/
/*              FAQ                   */
/*------------------------------------*/


.faq_title{
    width: 25%;
    margin: 0 auto;
}

.Faq {
    background-image: url('../img/Desktop/FAQ.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left right;
    min-height: 130vh;
    position: relative;
}

.faq_container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.faq_container .faq_item {
    line-height: normal;
    margin-top: 5px;
    background-image: url('../img/Faq.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 70px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.faq_item span {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------*/
/*                                    */
/*         Mobile Styles              */
/*                                    */
/*------------------------------------*/


@media all and (max-width: 768px) {
    body{
        overflow-x: hidden;
        background-size:cover ;
    }

    /* Main Content */

    .header {
        background-image: url('../img/Mobile/HOME.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        width: 100%;
        min-height: 100vh;
        position: relative;
    }
    .logo {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .logo img {
        width: 50%;
    }
    .slogon {
        width: 100%;
        text-align: center;
        transform: translateY(0%);
        font-size: 18px;
    }
    .social_icons a {
        margin-top: 20px;
        margin-left: 10px;
    }
    .social_icons a img {
        width: 25px;
        height: 25px;
    }
    .nav {
        position: absolute;
        width: 100vw;
        top: 5%;
        left: 0%;
        display: flex;
        flex-direction: row;
    }
    .nav_item {
        background-size: 100% 100%;
        height: 50px;
        padding: 10px 10px;
    }
    .nav_item a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 12px;
    }

    /* Mission */

    .mission {
        background-image: url('../img/Mobile/MISSION.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 80vh;
        position: relative;
    }
    .mission_content {
        margin-top: 20px;
        width: 100%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .mission_detail {
        width: 350px;
        font-size: 1em;
        text-align: center;
        font-weight: 600;
        margin-bottom: -10px;
    }

    /* Road Map */

    .road_map {
        background-image: url('../img/Mobile/Roadmap.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left right;
        min-height: 120vh;
        position: relative;
    }
    .road_1 {
        line-height: normal;
        width: 160px;
        position: absolute;
        top: 22%;
        left: 58%;
        font-size: 0.6em;
        font-weight: 500;
        text-align: center;
    }
    .road_2 {
        line-height: normal;
        width: 190px;
        position: absolute;
        top: 39%;
        left: 54%;
        font-size: 0.6em;
        font-weight: 500;
        text-align: center;
    }
    .road_3 {
        line-height: normal;
        width: 200px;
        position: absolute;
        top: 54%;
        left: 55%;
        font-size: 0.6em;
        font-weight: 500;
        text-align: center;
    }
    .road_4 {
        line-height: normal;
        width: 135px;
        position: absolute;
        top: 67%;
        left: 46%;
        font-size: 0.55em;
        font-weight: 500;
        text-align: center;
    }
    .road_5 {
        line-height: normal;
        width: 250px;
        position: absolute;
        top: 82%;
        left: 27%;
        font-size: 0.6em;
        font-weight: 500;
        text-align: center;
    }

    /* FFounders */

    .founders {
        background-image: url('../img/Mobile/FFOUNDERS.jpg');
        background-size: contain;
        min-height: 170vh;
        margin-bottom: 80px;
    }

    /* FAQ */

    .Faq {
        background-image: url('../img/FAQ_Mobile.png');
        background-repeat: no-repeat;
         background-size: contain;
        background-size: 100% 100%;
        background-position: left right;
        min-height: 110vh;
        position: relative;
    }
    .faq_container {
        position: absolute;
        top: 15%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }
    .faq_container .faq_item {
        margin-top: 0px;
        background-image: url('../img/Faq.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 55px;
        position: relative;
        text-align: center;
        cursor: pointer;
    }
    .faq_item span {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .answer {
        width: 100% !important;
    }
}

@media all and (max-width: 700px) {
  .founders {
    background-image: url('../img/Mobile/FFOUNDERS.jpg');
    background-size: contain;
    min-height: 150vh;
    margin-bottom: 60px;
  }
}

@media all and (max-width: 500px) {
  .founders {
    background-image: url('../img/Mobile/FFOUNDERS.jpg');
    background-size: contain;
    min-height: 120vh;
    margin-bottom: 30px;
  }

  .road_1 {
    line-height: normal;
    width: 110px;
    position: absolute;
    top: 22%;
    left: 58%;
    font-size: 0.5em;
    font-weight: 500;
    text-align: center;
}
.road_2 {
    line-height: normal;
    width: 140px;
    position: absolute;
    top: 39%;
    left: 56%;
    font-size: 0.55em;
    font-weight: 500;
    text-align: center;
}
.road_3 {
    line-height: normal;
    width: 145px;
    position: absolute;
    top: 54%;
    left: 57%;
    font-size: 0.6em;
    font-weight: 500;
    text-align: center;
}
.road_4 {
    line-height: normal;
    width: 120px;
    position: absolute;
    top: 68%;
    left: 45%;
    font-size: 0.55em;
    font-weight: 500;
    text-align: center;
}
.road_5 {
    line-height: normal;
    width: 180px;
    position: absolute;
    top: 82%;
    left: 27%;
    font-size: 0.6em;
    font-weight: 500;
    text-align: center;
}
.social_icons a {
  margin-top: 90px;
  margin-left: 10px;
}
}

/* Answer */

.answer {
    background-color: #fff;
    width: 490px;
    display: none;
    padding: 20px 15px;
    border-radius: 10px;
    margin-top: -15px;
}

.footer {
    position: absolute;
    bottom: 36px;
}